body {
  height: 100vh;
}

:root {
  font-family: Roboto, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
